body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}
.content{
  display:flex;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight:900;
  padding-left:16px;
  display: flex;
  align-items: center;
  font-size:32px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display:flex;
  align-items: center;
  justify-content:center;
  
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-basis:300px;
  padding:16px;
  min-width: 300px;   
  flex-shrink: 0;     
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}


ul{
  list-style-type:none;
  display:flex;
  flex-direction:column;
  margin: 0;
  padding-bottom:16px;
  font-size:24px;

}

a {
  text-decoration: none;
  color:white;

  
}

.information {
  display:flex;
  gap:48px;
  margin:48px;
  flex-wrap:wrap;
  padding:48px;
}

.card {
  flex: 0 0 300px;
}
