

*{
  margin:0;
  padding:0;
  font-family:'Roboto';
}

.footer{
  display:flex;
  background: #1f2937;
  color:#e5e7eb;
  justify-content:center;
  align-items:center;
  font-size:10px;
  padding:15px 0 15px 0px;

}

.header-container{
  display: flex;
  background: #1f2937;
  color:#e5e7eb;
  justify-content: center;
}

.header{
  display: flex;
  flex-direction: column;
}

.header-links{
  display:flex;
  font-size:18px;
  color:#e5e7eb;
  gap:1em;
}

.header-link-container{
  display: flex;
  justify-content: space-between;
  padding: 5px 70px;
}

.logo{
  font-size:24px;
  color:#F9FAF8;
  font-weight:900;
  
}

.awesome{
  display:flex;
  background: #1f2937;
  color:#e5e7eb; 
  justify-content: space-evenly;
  padding: 70px;
}

.info{
  display:flex;
  background: #F9FAF8;
  color:black; 
}

.quote{
  display:flex;
  background: #e5e7eb;
  color:black; 
  justify-content: center;
  align-items: center;
}

.COA{
  display:flex;
  background: #F9FAF8;
  color:white;
  justify-content:center;
  align-items:center;
}

.blue-container{
  display:flex;
  background: #3882f6;
  margin: 50px 70px 50px 70px;
  padding: 50px 100px 50px 100px;
  
}

.text{
  display:flex;
  flex-direction:column;
  margin: 50px 100px 50px 100px;
  padding: 10px 70px;
  max-width: 1000px;
  text-align: left;
}

.quote-text{
  font-size:36px;
  font-weight:100;
  color:1f2937;
  font-style:italic;
  text-wrap: wrap;
}

.quote-author{
  text-align:right;
  font-weight:bold;
}

.info{
  display:flex;
  justify-content:center;
}


.info-text{
  font-size:36px;
  font-weight:900;
  color:1f2937;
  padding: 50px;
}



.awesome-container{
    background: #1f2937;
    display:flex;
    justify-content:space-between;
  	align-items:center;
  
}

.hero{
  font-size:24px;
  font-weight:900;
  color:#f9faf8;
  width: 400px;
}

.subtext-box{
  display:flex;
  background: white;
  padding: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items:center;
  border: solid #3882f6;
}


.subtext{
  display:flex;
  flex-direction:row;
  color: #5A5A5A;
  gap:70px;
  
}

.subtext-container{
  display:flex;
  flex-direction:column;
  text-align: center;
  gap: 5px;
  max-width: 150px;
  margin-bottom: 100px;

}
.info-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

img {
  width: 300px;
  height: 200px;
  margin: 15px;
}

.placeholder-image{
  background: #5A5A5A;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 100px;
  margin: 20px;

}

.pill1{
  background: #3882f6;
  padding: 7px 22px; /* Space between text and border */
  margin: 8px 0; /* Space around the button */
  border: none; /* Remove default border */
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-size: 16x;
}

.pill2{
  background: #3882f6;
  padding: 7px 22px; /* Space between text and border */
  margin: 8px 20px; /* Space around the button */
  border: none; /* Remove default border */
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-size: 16x;
    border: solid white;
}
  


.test{
display: flex;
justify-content: space-between;
}
