*{
    margin: 0;
    padding: 0;
  font-family: "Iosevka Charon Mono";

}

.gameboard{
    display: grid;
    grid-template:repeat(3,1fr)/repeat(3,1fr);
    border: 5px solid black;
    height: 500px;
    width: 500px;
    
}

.box{
    border: 3px solid black;
    font-size: 120px;
    text-align: center;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

.submit, .reset {
  font-family: "Iosevka Charon Mono";
  padding: 4px 8px;
  cursor: pointer;
}

.names {
  display: flex;
  gap: 10px;
  align-items: center;
}