
*{
    margin:0;
    padding:0;
}

.header{
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:#112942;
}

.container {
  display:flex;
}
